<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-item>
      <ion-label>Ion Input</ion-label>
      <ion-input placeholder="Tap here"></ion-input>
    </ion-item>

    <ion-button class="btn-standard" (click)="openModal()">Open Modal</ion-button>
  </div>
</ion-content>
